<% include ../partials/header %>
<div class="jumbotron mt-4">
    <p class="lead">A message has been sent to the email that you have specified.</p>
    <p class="lead">Please, confirm your email by clicking on a link in the message :)</p>
</div>
<% include ../partials/footer %>